<h3>서강대 메일을 적어주세요</h3>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="field">
    <p><%= f.label :아이디 %><br />
    <%= f.text_field :username, autofocus: true %></p>
  </div>

  <% if params[:username].include?("@sogang.ac.kr") %>
      <div class="actions">
      <%= f.submit "인증메일 전송" %>
      </div>
  <% else %>
     <span>이메일을 다시 입력해 주세요</span>
  <% end %>
  >
<% end %>

<%= render "devise/shared/links" %>
