<div class="container">
 
  <div class="row" >
    <h3>해시태그 검색결과</h3>
    <% @posts.each do |p| %>
      <% if p.nil?%>
      <p>사용자가 작성한 게시물이 없습니다</p>
      <% end %>
      
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/view_each/<%=p.id%>">
        <!-- change -->
          <% if p.post_images.count == 0 || p.post_images[0].avatar.url.nil? %>
            <img src="<%=p.image_url%>">
          <% else %>
            <% if p.finished == true %>
              <img class="img-responsive" src="<%= p.image_url %>">
            <% else %>
              <img class="img-responsive" src="<%= p.post_images[0].avatar.url%>">
            <% end %>
          <% end %>
        </a>
      </div>
    <% end %>
    
  </div>
</div>

<div style="margin-left: auto; margin-right: auto; width:300px"> <%=paginate @posts, :theme => 'twitter-bootstrap'%></div>   

