<!--<h1>수정하기페이지</h1>-->
<div class ="container" style="margin-top:30px">
  <form action="/do_update/<%= @upd_post.id%>" method="POST"  enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input type = "hidden" value = "<%= current_user.email %>" name ="user_email">
      <input type="text" class="form-control" value = "<%= @upd_post.title%>" name="title" id="title_id">
    </div>
    <div class="input-field col">
      <label for="exampleInputPassword1">Content</label>
      <textarea class="materialize-textarea" rows="5" name="content" id="content_id"><%=@upd_post.content%></textarea>
    </div> 
    <div class="input-field col">  
      <input type="text" class="form-control" name="price" id="price_id" value="<%= @upd_post.price %>" placeholder="가격을 입력하세요">
    </div>
    <div class="input-field col">  
      <i class="material-icons prefix">phone</i>
      <input type="text" class="form-control" name="contact" id="contact_id" value="<%= @upd_post.contact %>" placeholder="연락처를 입력하세요">
    </div>
    <div class="form-group">
        <div class="file-field input-field">
          <div class="btn waves-effect waves-light" style="background-color:#9e9e9e">
            <span>사진첨부</span>
            <input type="file" name = "pic" id="exampleInputFile">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" value="<%= @upd_post.image_url %>" type="text">
          </div>
        </div>
    </div>
       <button class="btn waves-effect waves-light" style="background-color:#e57373" type="submit">수정하기</button>
  </form>
</div>