<!DOCTYPE html>
<html lang="en">

<head>
  
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>SG MARKET</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<link href="/assets/home.css" rel="stylesheet">-->
  
  <style type="text/css">
    .page-footer {
     padding-top: 0px !important;  
    }
  </style>

    <!-- Bootstrap Core CSS -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <!--<link href="css/thumbnail-gallery.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  
  <div class="navbar-fixed" style="margin-bottom:10px">
    <nav>
      <div class="nav-wrapper" style="background-color:#e57373; width: auto">
        <a href="/home/index" class="brand-logo center" style="color:#e57373; height:100%"><img src="/assets/logo.png" style="margin-left:50px; height:100%;"></a>
        <ul class="right hide-on-med-and-down">
           <% if current_user %>
           <li><a href="/home/myinfo" style="color:e57373">내 정보</a></li>
           <li><a href="/users/sign_out" style="color:white">로그아웃</a></li>
           <% else %>
           <li><a href="/users/sign_in" style="color:white">로그인</a></li>
           <% end %>
           <li><a href = "/home/write" style="color:white">글 써볼래?</a></li>
        </ul>
      </div>
    </nav>
  </div>

 <!--Side nav로 해보자-->
  <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <img class="background" style = "width: auto; height: 300px;" src="/assets/navbar_background.jpg">
      <% unless current_user.nil?%>
      <a href="/myinfo"><span class="black-text name"><%=current_user.username%></span></a>
      <a href="/myinfo"><span class="black-text email"><%=current_user.email%></span></a>
      <% end %>
    </div></li>
    <li><a href="/home/tag/의류"><i class="material-icons">loyalty</i>Clothes</a></li>
    <li><a href="/home/tag/코스메틱"><i class="material-icons">loyalty</i>Cosmetics</a></li>
    <li><a href="/home/tag/책"><i class="material-icons">loyalty</i>Books</a></li>
    <li><a href="/home/tag/티켓"><i class="material-icons">loyalty</i>Tickets</a></li>
    <li><a href="/home/tag/기타"><i class="material-icons">loyalty</i>Etc</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse" style="width:100px;"><i class="material-icons" style="margin-left:50px; margin-top:10px; font-size:3.5rem; color:#e57373; clear:right;">toc</i></a>
    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href = "/home/write"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>     
<main>  
<%= yield %>
</main>


  <footer class="page-footer">

    <div class="footer-copyright">
      <div class="container">
      © 2016 Copyright Likelion Sogang
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
    
  </footer> 
  
     
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <!--<script src="js/jquery.js"></script>-->

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="js/bootstrap.min.js"></script>-->
  <script>
   $(document).ready(function(){
   $('.slider').slider();
    });
    
   $(".button-collapse").sideNav();
   
  </script>
    
</body>
  

</html>
